* {
  -webkit-font-smoothing: antialiased; 
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0; 
}

/* Video Background */
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.topHeader {
  min-height: 750px;
  position: relative;
  top: 0%;
  background: linear-gradient(135deg, #095999, #095999);
  opacity: 0.9;
  white-space:nowrap;
}

/*Big Sized Computers Size 5*/
@media screen and (min-height: 900px){
  .topHeader {
    min-height: 1000px;
  }

  .contactMe {
    min-height: 10%;
    background:;
    padding: 1.875rem 0.625rem;
    background-image: url("../img/image1.jpg");
    position: relative;
    top: -150px;
  }

  .row {
    padding-top: 60px;
   }

  .header{
    color: blue;
    padding-top: 60px;
  }

  .betaButton{
    padding-top: 80px;
  }

  .chooseMe {
    padding-top: 20px;
  } 
}

.header {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 8vh;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-webkit-animation-delay: 1s; 
  /*doesn't screw up elements when minimized  */
  white-space:nowrap;
  position: relative; 
  top: 20%;
}
  
/* Font Change for "Welcome, my name is Abhay Varshney"  */
.topHeader h1 {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 3.35rem;
  letter-spacing: -2px;
  animation-delay: 2s;
  -webkit-animation-delay: 1s;
  -moz-webkit-animation-delay: 1s; 
}

@media only screen and (max-width: 40em) {
  .topHeader h1 {
    margin-top: 1.25rem;
    font-size: 60px;
    font-size: 3.75rem; 
  } 
}
/* Font Change for "A teen entreprenuer" */
.topHeader p {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    text-align: center;
    color: rgba(255,255,255, 0.5);
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-webkit-animation-delay: 2s;
    font-size: 4.1vh; 
}

/* The "See my Resume" Button */
.betaButton {
  background: linear-gradient(135deg, #095999, #095999);
  padding: 1.275rem;
  text-align: center;
  color: white;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  border: none;
  display: table;
  margin: 0 auto;
  top: 1.75rem;
  font-size: 25px;
  animation-delay: 8s;
  -webkit-animation-delay: 3s;
  -moz-webkit-animation-delay: 3s;
  border: 3px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px; 
  transition: all .5s ease-in-out;
}

.betaButton:visited{
  color: white;
}

.betaButton:hover {
  color: #095999 ;
  background: #fff; 
}

@media only screen and (max-width: 40em) {
  .betaButton {
    top: 1.25rem; 
  }
}

.betaButton i {
    font-size: 30px;
    font-size: 1.875rem;
    margin-right: 0.625rem; 
}

.chooseMe {
  font-size: 3.5vh; 
  letter-spacing: 0.5px; 
  color: #095999; 
  text-align: center; 
}

/* Hexagons */

table.hexagonTable {
  background-color: transparent;
  border-color:none;
}

.hexagon {
  position: relative;
  width: 180px; 
  height: 103.92px;
  background-color: #ECF0F1;
  margin: 51.96px 0;
  border-left: solid 5px #095999;
  border-right: solid 5px #095999;
  border-radius:25px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 127.28px;
  height: 127.28px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 21.3604px;
  border-radius:25px;
}

.hexagon:before {
  top: -63.6396px;
  border-top: solid 7.0711px #095999;
  border-right: solid 7.0711px #095999;
  border-radius:25px;
}

.hexagon:after {
  bottom: -63.6396px;
  border-bottom: solid 7.0711px #095999;
  border-left: solid 7.0711px #095999;
  border-radius:25px;
}

.scrollIconContainer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0; }
  @media only screen and (max-width: 40em) {
    .scrollIconContainer {
      display: none; } }

.scrollIcon {
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  display: table;
  margin: 1px auto;
  font-size: 50px;
  font-size: 3.125rem;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-webkit-animation-delay: 3s; 
}

.mainContent {
  min-height: 65%;
  background: #ECF0F1;
  padding: 1.875rem 0.625rem;
  position: relative;
  top: -150px;
}

.mainContent h2 {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: #656D78;
  font-size: 50px;
  font-size: 3.125rem; 
}
.mainContent p {
  color: #AAB2BD;
  font-size: 20px;
  font-size: 1.25rem; 
}

.myServices {
  height: 12%;
  background: #282828;
  opacity: 0.98;
  padding: 1.875rem 0.625rem;
  position: relative;
  top: -150px;
}

.myServices p {
  color: white;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 25px;
  letter-spacing: .1px;
  text-align: center;
}

.serviceInformation {
  min-height: 70%;
  background: #ECF0F1;
  padding: 1.875rem 0.625rem; 
  position: relative;
  top: -150px;
}

/* Contact Me part */
.contactMe {
  min-height: 40%;
  background:;
  padding: 1.875rem 0.625rem;
  background-image: url("../img/image1.jpg");
  position: relative;
  top: -150px;
}

.contactMeButtonDiv{
  text-align: center;
  vertical-align: middle;
}

.contactMeButton {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  background: none;
  border: 2.5px solid white;
  font-size: 1.4rem;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-webkit-animation-delay: 3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px; 
  transition: all .5s ease-in-out;
}

.contactMeButton:hover {
  color: black;
  background: white;
}

.portfolio {
  min-height: 125%;
  background: #ECF0F1;
  position: relative;
  top: -150px;
}

.portfolioText{
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  background: none;
  font-size: 2.3rem;
  text-align: center;
}

/* List of portfolio itens */
table.portfolioTable {
  background-color: transparent;
  border-color: transparent;
}

.portfolioTimeM {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 20px;

}

.portfolioTimeM:hover {
  -webkit-transition: .5s;
  color: #095999;
  text-decoration: underline;
}

.portfolioFrogger {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;

}

.portfolioFrogger:hover {
  -webkit-transition: .5s;
  color: #095999;
  text-decoration: underline;
}

.portfolioFlappyBirds {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;

}

.portfolioFlappyBirds:hover {
  -webkit-transition: .5s;
  color: #095999;
  text-decoration: underline;
}

.portfolioSpaceInvaders {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;

}

.portfolioSpaceInvaders:hover {
  -webkit-transition: .5s;
  color: #095999;
  text-decoration: underline;
}

.portfolioImageManipulation {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

.portfolioImageManipulation:hover {
  -webkit-transition: .5s;
  color: #095999;
  text-decoration: underline;
}

.macbook {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myIntroduction {
  min-height: 65%;
  background-color: #ECF0F1;
  position: relative;
  top: -150px;
}

.myStory {
  height: 12%;
  background: rgb(31,31,31);
  opacity: 0.98;
  padding: 1.875rem 0.625rem;
  position: relative;
  top: -150px;
}

.myStory p {
  color: white;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 50;
  letter-spacing: .2px;
  text-align: center;
}

.screenShotSlider {
  width: 100%;
  position: absolute;
  text-align: center; }

.topMenu {
  list-style: none;
  padding: 3.625rem 0; 
}

.topMenu.floatRight {
  direction: rtl; 
}

.topMenu.floatRight li {
  direction: ltr; 
}

@media only screen and (max-width: 40em) {
  .topMenu.floatRight {
  direction: ltr;
  display: none; } 
}

.topMenu li {
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
  font-size: 1.125rem; 
}

.topMenu li a {
  color: rgba(255, 255, 255, 0.5); 
}
  .topMenu li a.active {
  color: #fff; }
  .topMenu li a i {
  font-size: 24px;
  }
  .topMenu li a:hover {
  color: #fff; }
  @media only screen and (max-width: 30em) {
  .topMenu li {
  font-size: 14px;
  font-size: 0.875rem; }
  .topMenu li i {
  font-size: 18px;
  font-size: 1.125rem; 
  } 
}

.bottomFooter {
  background: #434A54;
  min-height: 25rem;
  padding: 1.25rem 0;
  opacity: 0.95;
}
  .bottomFooter p {
    color: #Fff;
    text-align: center;
    font-size: 42px; 
    word-spacing: 3px;
    font-weight: 300;
    opacity: .85;
  }

@media only screen and (max-width: 30em) {
  #iphone5s.gold .device {
    width: 260px;
    height: 594px !important; 
    } 
  }
/*
  Shared Classes and utilities
*/
/*
  Foundation and other frameworks modifications
*/
.slick-prev, .slick-next {
  display: none !important; 
}

.abhayProfilePicture {
  height: 140px;
  width: 110px;
  position: absolute;
  top: 2680px;
  left: 590px;
  border-radius: 50%
}

/* Button's css */
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}

.socialMedia {
  min-height: 35%;
  background: rgb(31,31,31);
  position: relative;
  top: -30%;
}

.rightsReserved {
  font-size: 12px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgb(104,104,104);
  position: absolute;
  top: 65%;
  left: 65.5%;
}

div.vertical-line{
  width: 2px; /* Line width */
  background-color: rgb(42,42,42); /* Line color */
  height: 60%; 
  float: left; 
  position: absolute;
  left: 52%;
  top: 22%;
}


